@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Open+Sans:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  height: auto;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d2e0fb;
  opacity: 0.1;
  z-index: -1;
  background-image: url("../public/bg2.jpg");
  background-position: center;
  background-size: 50% 50%;
  background-size: cover;
  mix-blend-mode: multiply;
}
.msg b {
  font-family: "Inter", sans-serif;
  color: cyan;
}

.msg span {
  color: rgb(229, 90, 90);
  font-family: "Inter", sans-serif;
}
